*.class
*.log

# Scala files
.bsp
.scala-build
.metals

# LaTeX files
*.aux
*.log
*.synctex.gz
*.tex.kate-swp
*.out

# Kate editor file
.project_report.tex.kate-swp

# vscode
.vscode

# project results
project/results/*

# playground
playground/*

# macOS
.DS_Store

# Kate
